body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('Cat_bg.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #555;
}

p#result {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    line-height: 1.5em;
}
